.calculator {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}
.dark {
  border: 1px solid #fff; /* black border */
  background: #666;
  color: #fff;
}

.light {
  border: 1px solid #000; /* black border */
  background: #f0f0f0;
  color: #000;
}
