.label {
  /* reset basic form styles */
  background: none;
  border: none;
  box-shadow: none;
  outline: none;

  padding: 10px 5px;
  width: 90%;
  display: block;
  text-align: right;
  font-size: 20px;
  border-radius: 0;
}

.dark {
  background: #666;
  color: #fff;
}

.light {
  background: #f0f0f0;
  color: #000;
}
